.services-card {
    background-color: #f9fafb;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
    max-width: 1000px;
    box-shadow: 0 4px 6px rgba(14, 13, 13, 0.08);
}

.services-card h1 {
    text-align: center;
    color: #218073;
    margin-bottom: 1.5rem;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
}

.services-table th {
    background-color: #218073;
    color: white;
    padding: 1rem;
    text-align: left;
}

.services-table td {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.services-table tr:hover {
    background-color: #92ebe0;
}